* {
  margin: 0;
  padding: 0;
}

/*
:root {
  --button-bg-color:#cccccc;
  --button-text-color:#313131;
}
img {
max-width: 100%;
height: auto;
vertical-align: middle;
}
a {
  text-decoration: none;
  color:#d9dadc;
}
button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
button:hover {
  background-color: var(--button-bg-color);
  filter: brightness(90%);
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
input {
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  outline: none;
}
textarea {
  padding:0.5rem;
  resize:none;
  border:0;
  border-radius:0.5rem;
  overflow:scroll;
  outline: 0;
}
textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*/